*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* css for header below

.header { 
    border-bottom: 1px solid #ccc;
    padding: 8px 16px;
    background-color: rgb(179, 246, 255);
}
.header a{

    text-decoration: none;
    color: #000;
    font-weight: bold;
}
  
.header::after {
    content: "";
    display: table;
    clear: both;
}
  
.leftheader {
    float: left;
}
  
.leftheader h1 {
    font-size: 24px;
    margin: 11.2px 0 4.8px 0;
    display: inline-block;
}
  
.leftheader img {
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
    padding-top: 10px;
}
  
.rightheader {
    float: right;
 }
  
.rightheader ul, li {
    margin: 0; 
    padding: 0;
 }
  
.rightheader li {
    display: inline-block;
    margin: 22.4px 116px 16px 16px;
} */
  /* css for navbar below  */
.navbar{
    background-color: rgb(65, 65, 65);
    width: 100%;
    clear: both;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}
.navbar a{
    float: left;
    text-transform: capitalize;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;

}
.active {
    background-color: #009269;
}
/* Create three unequal columns that floats next to each other */
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
.column {
    float: left;
    padding: 10px;
}
/* Left and right column */
.column.side {
    width: 25%;
}
/* Middle column */
.column.middle {
    width: 50%;
}
/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    /* padding: 20px; */
    
}
/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    color: #000;
    border: 1px solid whitesmoke;
    border-radius: 1px;

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
}
/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }